@import "variables";

* {
  box-sizing: border-box;
}
.App {
  text-align: center;

  .Recommendations {
    background-color: $light-blue;
    padding: 50px 15px;
    h1 {
      font-size: 30px;
      @include tablet {
        font-size: 40px;
      }
    }
    h1,
    h4 {
      margin: auto;
      padding: 0 15px 25px;
    }
    .categories-container {
      @supports (display: grid) {
        display: grid;
        grid-gap: 10px;
        max-width: 1400px;
        margin: auto;
        transition: height 0.6s ease-in-out;
        overflow: hidden;
        grid-template-columns: 1fr;
        height: 638px;
        @include lg-mobile {
          height: 830px;
        }
        @include tablet {
          grid-template-columns: 1fr 1fr;
          height: 410px;
        }
        @include lg-tablet {
             grid-gap: 20px;
             grid-template-columns: repeat(3, minmax(300px, 1fr));
             height: 300px;
        }
      }

      .Category {
        background: $white;
        height: 44px;
        padding: 0 14px;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        @include lg-mobile {
          height: 60px;
          padding: 0 18px;
        }
        .category-checkbox {
          cursor: pointer;
          -webkit-user-select: none;
          user-select: none;
          display: flex;
          position: relative;
          width: 100%;
          height: 100%;
          justify-content: space-between;
          .category-checkmark {
            position: absolute;
            top: 10px;
            left: 0;
            height: 25px;
            width: 25px;
            border: 1px solid $light-grey;
            @include lg-mobile {
              top: 17px;
            }
            &:before {
              content: "";
              position: absolute;
              display: none;
              background: url("/images/tick.svg");
              background-repeat: no-repeat;
              background-position: center;
              background-size: 75%;
              height: 25px;
              width: 25px;
            }
          }
          .category-label {
            font-size: 14px;
            color: $grey;
            font-weight: 600;
            align-self: center;
            padding-left: 32px;
            transition: all 0.2s ease-in-out;
            @include tablet {
              font-size: 16px;
            }
          }
          input {
            position: absolute;
            opacity: 0;
            height: 0;
            width: 0;
            &:hover ~ .category-checkmark {
              border: 1px solid $blue;
            }
            &:checked {
              & ~ .category-checkmark {
                background: $light-green;
                &:before {
                  display: block;
                }
              }
              & ~ .category-label {
                color: $light-green;
                font-weight: 700;
              }
            }
          }
        }
        .category-logo {
          height: 30px;
          align-self: center;
          @include lg-mobile {
            height: 40px;
          }
        }
      }
      &.hidden-mob {
        @media (max-width: $tablet - 1) {
          height: 200px;
        }
        @media (max-width: $large-mobile - 1) {
          height: 152px;
        }
      }
    }
  }
  .btn {
    background: red;
    height: 44px;
    font-size: 14px;
    font-weight: 600;
    color: $white;
    width: 100%;
    margin: 10px auto;
    &:focus {
      outline: none;
    }
    @include lg-mobile {
      height: 60px;
    }
    @include tablet {
      display: none;
    }
  }
  .grey {
    color: $grey;
  }
}
